# Air Quality Index and Viral Load comparison in Indian Background:

According to the article in https://scroll.in/article/978454/coronavirus-the-record-high-number-of-new-cases-in-delhi-is-a-direct-effect-of-air-pollution and theGuardian article (https://www.theguardian.com/world/2020/nov/11/delhi-covid-crisis-worsened-by-soaring-pollution-levels) , Delhi's current conditions in the pandemic has a direct relation with the air pollution as the the Covid-19 virus can directly "piggyback" on the PM 2.5 Particles and more severely.
Here, we will have a look at the Air Quality Index in the past 5 years of different cities of India and conclude on the expected Air pollution in the city of Delhi, in particular.
Further since due to Lockdown, the air pollution was comparatively low in all the cities, we will see the Covid cases in Delhi in particular and if it has any correlation with air quality index. 
Further, based on the pollution trends in different cities(increasing or decreasing ), we can find useful insights about the third wave, expected this year around October.

In [34]:
import numpy as np
import scipy.stats
import scipy.special
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from matplotlib import cm
import pandas as pd
from sklearn.pipeline import make_pipeline, make_union, Pipeline
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import ParameterGrid
from keras.models import Sequential
from keras.models import Model as KerasModel
from keras.layers import Input, Dense, Activation, Reshape
from keras.layers import Concatenate
from keras.layers.embeddings import Embedding
from sklearn.ensemble import RandomForestRegressor
from sklearn import linear_model
import pickle
import csv
from datetime import datetime
from sklearn import preprocessing
from keras.callbacks import ModelCheckpoint
import xgboost as xgb
from sklearn.preprocessing import OneHotEncoder

#Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

#For Missing Value and Feature Engineering
from sklearn.feature_selection import SelectKBest, chi2, f_classif, VarianceThreshold
from sklearn.impute import SimpleImputer, KNNImputer, MissingIndicator
from sklearn.preprocessing import KBinsDiscretizer, LabelEncoder, MinMaxScaler
from sklearn.decomposition import PCA

from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from xgboost import XGBClassifier

import time
%matplotlib inline

### Datasets:

In [51]:
#air quality index 
aqi=pd.read_csv("../input/air-quality-data-in-india/city_hour.csv")

In [38]:
aqi.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01 01:00:00,NaN,NaN,1.00,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
1,Ahmedabad,2015-01-01 02:00:00,NaN,NaN,0.02,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
2,Ahmedabad,2015-01-01 03:00:00,NaN,NaN,0.08,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
3,Ahmedabad,2015-01-01 04:00:00,NaN,NaN,0.30,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
4,Ahmedabad,2015-01-01 05:00:00,NaN,NaN,0.12,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN

In [52]:

# air quality index from 2015-2020 in Delhi.
aqi=aqi[aqi.City =='Delhi']

In [11]:
pd.DatetimeIndex(aqi['Datetime']).year

Int64Index([2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015,
            ...
            2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020],
           dtype='int64', name='Datetime', length=707875)

In [42]:
#covid vaccinations so far
covidstate=pd.read_csv("../input/covid19-in-india/covid_vaccine_statewise.csv")

In [16]:
covidstate.head()

,Updated On,State,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Sputnik V Administered,AEFI,18-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,251280.0

In [43]:
#covid cases in districts
coviddist=pd.read_csv("../input/covid19-corona-virus-india-dataset/district_level_latest.csv")

In [20]:
coviddist.head()

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,District_Notes,Last_Updated
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0,0,NaN,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0,0,NaN,NaN

In [44]:
#covid cases in states daily
coviddaily=pd.read_csv("../input/covid19-corona-virus-india-dataset/state_level_daily.csv")

In [22]:
coviddaily.head()

,Unnamed: 0,Date,State,Confirmed,Deceased,Recovered,State_Name
0,0,01-Apr-20,AN,0,0,0,Andaman and Nicobar Islands
1,1,01-Apr-20,AP,67,0,1,Andhra Pradesh
2,2,01-Apr-20,AR,0,0,0,Arunachal Pradesh
3,3,01-Apr-20,AS,15,0,0,Assam
4,4,01-Apr-20,BR,3,0,0,Bihar

In [45]:
#testing in states daily 
covidtests=pd.read_csv("../input/covid19-corona-virus-india-dataset/tests_state_wise.csv")

In [24]:
covidtests.head()

,Updated On,State,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,Cumulative People In Quarantine,Total People Currently in Quarantine,Tag (People in Quarantine),...,Corona Enquiry Calls,Num Calls State Helpline,Source1,Source2,Source3,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case,Population NCP 2019 Projection
0,17/04/2020,Andaman and Nicobar Islands,1403.0,Samples Sent,12.0,1210,181.0,NaN,NaN,NaN,...,NaN,NaN,https://t.me/indiacovid/2550,NaN,NaN,0.86%,3.53,3534.0,117,397000.0
1,24/04/2020,Andaman and Nicobar Islands,2679.0,Samples Sent,27.0,NaN,246.0,NaN,614.0,Institutional,...,NaN,280.0,https://t.me/indiacovid/3147?single,NaN,NaN,1.01%,6.75,6748.0,99,397000.0
2,27/04/2020,Andaman and Nicobar Islands,2848.0,Samples Sent,33.0,NaN,106.0,NaN,724.0,Institutional,...,NaN,298.0,https://t.me/indiacovid/3365?single,NaN,NaN,1.16%,7.17,7174.0,86,397000.0
3,01/05/2020,Andaman and Nicobar Islands,3754.0,Samples Sent,33.0,NaN,199.0,NaN,643.0,Institutional,...,NaN,340.0,https://t.me/indiacovid/3781,NaN,NaN,0.88%,9.46,9456.0,114,397000.0
4,16/05/2020,Andaman and Nicobar Islands,6677.0,Samples Sent,33.0,NaN,136.0,NaN,16.0,Institutional,...,NaN,471.0,https://t.me/indiacovid/4925,NaN,NaN,0.49%,16.82,16819.0,202,397000.0

### Data Preprocessing:

In [25]:
#helper function to view the table content details
from IPython.display import display, HTML

def pretty_print(df):
    return display( HTML( df.to_html().replace("\\n","<br>") ) )
def tbl_report(tbl, cols=None, card=52):
    print("Table Shape", tbl.shape)
    dtypes = tbl.dtypes
    nulls = []
    uniques = []
    numuniques = []
    vcs = []
    for col in dtypes.index:
        n = tbl[col].isnull().sum()
        nulls.append(n)
        strdtcol = str(dtypes[col])
        #if strdtcol == 'object' or strdtcol[0:3] == 'int' or strdtcol[0:3] == 'int':
        #print(strdtcol)
        uniqs = tbl[col].unique()
        uniquenums = uniqs.shape[0]
        if uniquenums < card: # low cardinality
            valcounts = pd.value_counts(tbl[col], dropna=False)
            vc = "\n".join(["{}:{}".format(k,v) for k, v in valcounts.items()])
        else:
            vc='NA'
        uniques.append(uniqs)
        numuniques.append(uniquenums)
        vcs.append(vc)
    nullseries = pd.Series(nulls, index=dtypes.index)
    uniqueseries = pd.Series(uniques, index=dtypes.index)
    numuniqueseries = pd.Series(numuniques, index=dtypes.index)
    vcseries = pd.Series(vcs, index=dtypes.index)
    df = pd.concat([dtypes, nullseries, uniqueseries, numuniqueseries, vcseries], axis=1)
    df.columns = ['dtype', 'nulls', 'uniques', 'num_uniques', 'value_counts']
    if cols:
        return pretty_print(df[cols])
    return pretty_print(df)

In [26]:
tbl_report(aqi15)

Table Shape (67174, 16)

In [27]:
tbl_report(covidstate)

Table Shape (5144, 18)

In [28]:
tbl_report(coviddist)

Table Shape (800, 16)

In [30]:
tbl_report(coviddaily)

Table Shape (5694, 7)

In [31]:
tbl_report(covidtests)

Table Shape (3938, 28)

In [ ]:
#clearing all nans and imputations are being carried out
aqi.dropna(axis=0, how='all', thresh=None, subset=None, inplace=True)
numerical_features = [c for c, dtype in zip(aqi.columns, aqi.dtypes)
                 if dtype.kind in ['i','f']]
categorical_features = [c for c, dtype in zip(aqi.columns, aqi.dtypes)
                 if dtype.kind not in ['i','f']]
kimput=KNNImputer(n_neighbors=2, weights="uniform")
simput=SimpleImputer(strategy = 'most_frequent', fill_value = 'missing')
aqi[numerical_features]=kimput.fit_transform(df[numerical_features])
aqi[categorical_features]=simput.fit_transform(df[categorical_features])

In [ ]:
#datasets for air quality index of different years
aqi15=aqi[pd.DatetimeIndex(aqi['Datetime']).year==2015]
aqi16=aqi[pd.DatetimeIndex(aqi['Datetime']).year==2016]
aqi17=aqi[pd.DatetimeIndex(aqi['Datetime']).year==2017]
aqi18=aqi[pd.DatetimeIndex(aqi['Datetime']).year==2018]
aqi19=aqi[pd.DatetimeIndex(aqi['Datetime']).year==2019]
aqi20=aqi[pd.DatetimeIndex(aqi['Datetime']).year==2020]
#creating lists to divide dataframes as and according to requirements
df_list=[aqi15,aqi16,aqi17,aqi18,aqi19]
df_list2=[aqi20,covidstate,coviddist,coviddaily,covidtests]

In [ ]:
tbl_report(aqi15)

In [ ]:
tbl_report(aqi16)

In [ ]:
tbl_report(aqi17)

In [ ]:
tbl_report(aqi18)

In [ ]:
tbl_report(aqi19)